* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
    margin-bottom: 20px;
}

.questionsContainer{
    background-color: aqua;
    width: 1000px;
    border: 2px solid black;
}

ul{
    list-style: none;
}

h2{
    padding-left: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 2rem;
    margin: 30px 0px;
}

li{
    font-size: 25px;
    margin-bottom: 15px;
    padding-left:  40px;
}

button{
    margin-top: 30px;
    padding: 20px 25px;
    font-size: 20px;
    cursor: pointer;
}